.hidden-block{position:absolute;left:-99999em;top:-99999em;}
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:1200px; font-family: 'Roboto', sans-serif;background:#fff;color:#40434e;position:relative;font-size: 14px;line-height: 1; opacity: 1; }
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1600px;width:100%; padding: 0 25px; margin: 0 auto;}
.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}
.error-placement{ position: absolute; width: 100%; top: 0; left: 0;  cursor: pointer; z-index: 99999;
    svg{ width: 15px; height: 15px;}
    .js-notvalid,
    .js-valid{ display: none; position: absolute; right: 9px; top: 11px;}
}
a{ text-decoration: none;}
.error-placement-text{ position: absolute; width: 100%; right: 0; top:44px; background: #ff3030; z-index: 999; color: #fff; font-weight: 300; font-size: 13px; padding: 7px 10px;box-shadow: 0px 2px 16px 0px rgba(255, 48, 48, 0.57); display: none; min-width: 100px;
    &:before{ right: 10px; top: -12px; content: ''; border-style: solid; border-color:transparent transparent #ff3030 transparent; border-width: 6px; position: absolute; width: 0; height: 0; }
}
.js-input{ position: relative;}
.valid{
    .js-valid{ display: block;}
    .styled input[type=checkbox] + i{border-color: #3ed12f;}
    &.login__input input{border-color: #3ed12f;}
}
.error{
    .error-placement:hover .error-placement-text{ display: block;}
    .js-notvalid{ display: block;}
    .styled input[type=checkbox] + i{border-color: #ff3030;}
    &.login__input input{border-color: #ff3030;}
}
input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}
table{ width: 100%;}
th{ background-color: #4673a4; text-transform: uppercase; text-align: left; color: #fff; padding: 9px; line-height: 1.25;}
td{padding:9px; border-bottom:1px solid #f3f3f3; height: 60px;}
.main{ width: 100%; overflow: hidden;}
.dotted-underline,
a.dotted-underline { position: relative; text-decoration: none; border: none; background: transparent; border-bottom: 1px dotted #42b79a; cursor: pointer; color: #42b79a;
    &:hover {color: #2b634d; border-bottom: 1px dotted transparent;}
    &:active { color: #2b634d; border-bottom: 1px dotted #2b634d; }
}
button[type=button]{ padding: 0; background: transparent; border: none;}
.pluss-butt{ width: 14px; height: 14px; display: inline-block; position: relative; vertical-align: top;
    svg{ width: 14px; height: 14px;}
}
.scelet{ width: 100%; display: flex; align-items: stretch; justify-content: flex-start;}
tr.active{outline:1px solid #ed5e5e; background-color: #fff4f4; }
.accordeon{
    &__flex{ display: flex; justify-content: flex-start; align-items: flex-start;
        &--aic{ display: flex; justify-content: flex-start; align-items: center;}
    }
    &__hiiden{
        &>td{ padding:0; border-bottom: 0; height:auto;}
        b{ text-transform: uppercase; margin-right:12px;}
    }
    &__table{box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.2); display: none;
        &>p{ min-height:36px; margin: 0; padding: 8px;}
    }
    svg{ margin-left:8px;}
    img{ margin-right: 8px;}
}
.aside{ width: 262px; background-color: #4673a4; color: #fff; position: relative; z-index: 900; min-height: 100vh; padding: 0 20px 0 0;
    &:before{content: ''; background-color: #4673a4; width: 100%; min-height: 100%; position: absolute; top: 0; right: 100%;  }
    a{ text-transform: uppercase; color: #fff; text-decoration: none;}
    &__menu{ list-style-type: none; padding: 0; margin: 0; height: calc(100vh - 220px);
        li{ display: flex; justify-content: flex-start; align-items: center; margin: 20px 0; line-height: 1.26;}
        i{ width: 46px; display: inline-block; text-align: left; flex-shrink: 0;}
    }
    &__logo{ margin-bottom: 49px; display: inline-block; }
    &__search{ padding-right: 17px; width: 100%; position: relative; margin-bottom: 49px;
        input{ border: 1px solid #fff; background-color: #4673a4; color: #fff; height: 46px; width: 100%; padding-left: 17px; padding-right: 53px;
            &::-webkit-input-placeholder { color: #fff;}
            &:-moz-placeholder           { color: #fff;}
            &::-moz-placeholder          { color: #fff;}
            &:-ms-input-placeholder      { color: #fff;}
            &:focus{ background-color: #fff; color: #000;}
        }
        button{background: none; border:none; padding: 0; position: absolute; right: 17px; top: 0;
            i{ display: flex; justify-content: center; align-items: center; background-color: #42b79a; height: 46px; width: 46px;}
            &:hover i{ background-color: #2b634d;}
        }
    }
    &__wrap{ width: 287px;  background-color: #4673a4; position: fixed; top: 0; padding-top: 20px; padding-left: 25px;}
}
.button{border:none; background-color: transparent; padding: 0; cursor: pointer;text-decoration: none;  font-weight: 700; display: inline-block; vertical-align: top;
    span{ display: inline-flex; height: 34px;  line-height: 34px; border: 2px solid #42b79a; align-items: center; justify-content: center; background-color: #42b79a; padding: 0 45px; text-transform: uppercase; color: #fff; white-space: nowrap; }
    &:hover span{ background-color: #2b634d; border: 2px solid #2b634d;}
    &--fff{
        span{ color: #42b79a; background-color: transparent; }
        &:hover span{ background-color: #42b79a; color: #fff; border: 2px solid #42b79a; }
    }
    &--back{
        span{
            &:before{content: ''; width: 8px; height: 8px; border-left:1px solid #42b79a; border-bottom:1px solid #42b79a; transform: rotate(45deg); display: inline-block; margin-right: 8px; }
        }
        &:hover{
            span:before{border-color: #fff;}
        }
    }
    &--forward{ position: relative;
        span{
            &:before{content: ''; width: 8px; height: 8px; border-left:1px solid #42b79a; border-bottom:1px solid #42b79a; transform: rotate(-135deg); display: inline-block; position: absolute; right: 12px; top: 12px; }
        }
        &:hover{
            span:before{border-color: #fff;}
        }
    }
    &--disabled{ cursor: auto;
        &:hover span{ background-color: #42b79a;  border: 2px solid #42b79a;}
    }
    &-simple{ display: inline-flex; align-items: center; border: none; background: transparent; padding: 0; text-transform: uppercase; height: 34px; margin: 0 24px; text-decoration: none;
        i{ margin: 0 8px; display: inline-block; line-height: 0;}
    }
    &--rect{ margin: 0 5px;
       span{ padding: 0; width: 34px; }
        svg{fill:rgb(66, 183, 154);}
       &:hover svg{fill:rgb(255, 255, 255);}
    }
}
.content{ width:calc(100% - 262px); position: relative; z-index: 10;
    &__body{ padding-left: 30px;}
}
.calculator{
    &__row{ border-bottom: 2px solid #f3f3f3; display: flex; justify-content: space-between; align-items: flex-start; padding-bottom: 15px; margin-bottom: 13px;
        &>b{ margin-top: 10px;}
        b{ text-transform: uppercase;}
    }
    &__subrow{ display: flex; justify-content: space-between; align-items: center; width: 498px; margin-bottom: 10px;
        b{ color: #6b8fb6;}
        p{ margin: 0;
            span{ margin-left: 14px;}
        }
    }
    &__item{ display: flex; justify-content: flex-end; align-items: center; width: 327px;
        input{ width: 99px; height: 36px; border:1px solid #cbcfd5; line-height: 36px; padding:0 8px; flex-shrink: 0;
            &[disabled]{border-color:transparent; background-color: #fff;}
        }
        i{ font-style: normal; width: 40px; text-align: right;flex-shrink: 0; margin-right: 12px;}
        strong{ width: 82px; font-weight: 400; text-align: right;flex-shrink: 0;}
        span{ flex-grow: 1; text-align: center;}
    }
    &__status{
        &.sclad__ltr{align-items: center;}
        span,b{ margin-right: 12px;}
    }
}
.dayinner{
    &__title{ display: flex; justify-content: space-between; align-items: center;    padding: 19px 0 16px;
        p{ font-size: 30px; font-weight: 300; margin: 0;}
        i{ color: #4673a4; font-style: normal;}
        a{ text-decoration: none; text-transform: uppercase; display: flex; align-items: center;
            i{ display: inline-block; width: 27px;}
        }
    }
    &__subtitle{color: #4673a4; font-weight: 300; font-size: 24px; margin-bottom: 16px;
        b{ color: #40434e;}
    }
    &__table{ margin-bottom: 25px;
        .unactive{ color: #92a4b7;}
        .sclad__rtl{ margin-bottom: 0;}
    }
    &__journal{  box-shadow: 0px 16px 51px 0px rgba(0, 0, 0, 0.14); margin-bottom: 38px; display: none;
        .journal{max-width: none;}
        .journal__plane{ height: auto;}
    }
}
.daylist{
    &__title{ display: flex; justify-content: space-between; align-items: flex-end;    padding: 14px 0 16px;
        p{ font-size: 30px; font-weight: 300; margin: 0;}
        i{ color: #4673a4; font-style: normal;}
    }
    &__th{ color: #fff; text-transform: uppercase; font-weight: 700; background-color: #4673a4; display: flex; justify-content: space-between; align-items: center; height: 30px;}
    &__tr{border-bottom: 2px solid #f3f3f3; display: flex; justify-content: space-between; align-items: flex-start; padding: 15px 0 20px;
        &.active{ background-color: #f3f3f3;}
    }
    &__td{ padding-left: 18px; width: 111px;    white-space: nowrap;  display: flex; flex-direction: column;   align-items: stretch;
        &--second{ width: 150px;  flex-grow: 1; }
        &--third{ width: 150px;  flex-grow: 1; }
        &--four{ width: 310px; padding-right: 5px;}
    }
    &__row{ display: flex; justify-content: space-between; align-items: center; height: 30px;
        i{ line-height: 0;  display: inline-block; vertical-align: middle; width: 27px;
            &.small{ width: 17px;}
        }
        b{ text-transform: uppercase;}
        a{ text-decoration: none; margin-right: 10px; white-space: nowrap; cursor: pointer;
            &.pluss-butt{ margin-right: 0;}
        }

        strong{ color: #4673a4; font-style: normal; text-transform: uppercase; font-weight: 400;}
    }
    &__spanfix{ display: flex; justify-content: flex-start; align-items: center; width: 103px;}
    &__spanbig{ display: flex; justify-content: flex-start; align-items: center; padding-bottom: 1px;}
}
.descr{ margin-bottom: 18px;
    &__row{ border-bottom: 2px solid #f3f3f3; display: flex; justify-content: space-between; align-items: flex-start; padding-bottom: 15px; padding-top: 13px;
        &>b{ margin-top:0;}
        b{ text-transform: uppercase;}
        &--vac{ align-items: center;}
    }
    &__subrow{ display: flex; justify-content: flex-start; align-items: center; width: 498px;
        p{ margin: 0;
            span{ margin-right: 16px;}
        }

        .js-input{ margin-left: 12px; flex-grow: 1;}
        &--small{ width: 249px;}
        &--sb{ justify-content: space-between;
            button span{ width: 36px; height: 36px; border: 2px solid #42b79a; display: flex; justify-content:center; align-items: center;}
            button:hover span{ background-color: #f3f3f3;}
            button.active svg{transform: rotate(180deg);}
        }
    }
    &__hidden{ background-color: #f3f3f3; padding: 0 0 0 20px; display: none;}
}
.fileinput{ display: flex; justify-content: space-between; align-items: flex-start;  border-bottom:2px solid #f3f3f3; padding-bottom: 10px; flex-direction: column; margin-bottom: 20px;
    label.fileinput__label{ margin-left: 0; width: auto; flex-shrink: 0;
        input{ display: none;}
    }
    b{ text-transform: none; width: 292px; flex-shrink: 0; padding-top: 12px;}
    &__field{ width: 100%;border:1px solid #cbcfd5; height: 34px; line-height: 34px; flex-grow: 1; padding: 0 20px; display: flex; justify-content: space-between; align-items: center;}
    &__row{ display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 10px; width: 100%}
    &__result{ margin: 0 -15px; display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; padding: 14px 0 5px;}
    &__item-wrap{ width: 165px; margin: 0 15px; position: relative;
        input{ display: none;}
        .preloadfile{ top: 88px;}
    }
    &__item{ width: 100%;  height: 210px; box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.26); position: relative;
        img{ width: 100%; height: 100%; object-fit: cover;}
        a{ position: absolute; bottom: 5px; right: 5px;}
        button{ position: absolute; top: 5px; right: 5px; padding: 0; background-color: transparent; border: none;}
    }
    &__item-info{ text-align: center;
        p{ word-break: break-all; font-size: 12px; color: #69758b; font-weight: 300; margin: 10px 0 5px;}
    }

}
.fix-class .search__field--small{ margin-left: 0;}
.journal{ width: 100%; max-width: 906px; padding: 0;
    .fancybox-close-small{ display: none;}
    &__title{ color: #fff; font-size: 30px; display: flex; justify-content: space-between; align-items: center; background-color: #4673a4; width: 100%; height: 65px; font-weight: 300; padding: 0 30px;}
    &__close{ cursor: pointer;
        svg{ width: 25px; height: 25px;}
    }
    &__plane{ height: calc(100vh - 380px); overflow-y:auto; }
    &__content{ padding:20px 30px;}
    &__item{ display: flex; justify-content: flex-start; align-items: flex-start; border-bottom: 2px solid #f3f3f3; min-height: 51px; padding: 17px 0 10px;
        i{ line-height: 0;  display: inline-block; vertical-align: middle; width: 37px;}
        b{ text-transform: uppercase;}
        strong{ color: #4673a4; font-style: normal; text-transform: uppercase; font-weight: 400;}
        &:last-child{ border-bottom:0;}
    }
    &__time{ width: 148px; min-height: 26px; display: flex; align-items: center; justify-content: flex-start; flex-shrink: 0;}
    &__description{ display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;}
    &__spanfix{ display: flex; justify-content: flex-start; align-items: center; width: 100%; min-height: 26px; margin-bottom: 6px;
        &--half{ width: 50%;}
    }
    &__img-wrap{ display: block;height: 98px; width: 100%; box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.26);}
    &__imgitem{  width: 68px; margin-right: 15px; position: relative; margin-bottom: 5px; align-self: flex-start;
        img{ width: 100%; height: 100%; object-fit: cover;}
        button{border: none; background-color: transparent; padding: 0; width: 15px; height: 15px; right: 4px; top: 4px; position: absolute;
            svg{ width: 100%; height: 100%;}
        }
        p{ word-break: break-all; font-size: 12px; color: #69758b; font-weight: 300; margin: 10px 0 5px;}
        input{ display: none;}
    }
    &__bottom{ background-color: #f8f8f8; padding: 20px 30px;
        textarea{ height: 98px; width: 100%; border:1px solid #cbcfd5; resize: none;  background-color: #f8f8f8; padding: 10px 15px;}
        label{ margin: 7px;    }
    }
    &__buttons{ display: flex; justify-content: flex-end; align-items: flex-start; padding-top: 13px;
        .button{ flex-shrink: 0;}
    }
}
.js-sort{ display: flex; justify-content: flex-start; align-items: center;
    i{ cursor: pointer; width: 16px; height: 11px; text-align: center; display: inline-block; line-height: 0.8; }
    &.active svg,
    i:hover svg{fill:#42b79a;}
    svg{fill:#fff; width: 10px; height: 11px;}
    &.reverse svg{transform:rotate(180deg);}
}
.js-input-file-simple,
.js-input-file{ cursor: pointer; display: inline-flex; justify-content: flex-start; align-items: center;
    input{ display: none;}
    i{ display: inline-block; line-height: 0; margin:0 16px;}
    svg{ width: 19px; height: 20px;}
    .dotted-underline{ text-transform: uppercase;}
}
.js-container-img{ display: flex; justify-content: flex-end; align-items: flex-start; flex-wrap: wrap;}
.js-show-hide-journal{
    &.active{
        .unactive{ display: none;}
        .active{ display: inline-block;}
    }
    .active{ display: none;}
    .unactive{ display: inline-block;}
}
.js-input{position: relative;
    input[type=text]{border:1px solid #cbcfd5; height: 36px; line-height: 36px; width: 100%; padding:0 15px;}
    input[disabled]{ background-color: #f8f8f8;}
    i{ height: 36px; position: absolute; left: 0; top: 0; width: 26px; justify-content: flex-end; align-items: center; display: flex;}
    i + input[type=text]{padding: 0 15px 0 32px;}
}
.jq-selectbox{ width: 100%; }
.jq-selectbox__select{border: 1px solid #cbcfd5; background: #fff; border-radius: 0; box-shadow: none; height: 36px;
    &:hover{ background: #fff;}
}
.jq-selectbox__trigger{border-left: none;}
.jq-selectbox__trigger-arrow {top: 10px; right: 11px; width: 8px; height: 8px; border-top: 1px solid #999; border-right: 1px solid #999; border-left:0; transform: rotate(135deg);}
.jq-selectbox:hover .jq-selectbox__trigger-arrow { border-top-color: #999; }
.jq-selectbox li:hover { background-color: #4673a4;}
.important{ width: 100%; border:2px solid #ff3030; display: flex; justify-content: flex-start; align-items: flex-start;margin: 16px 0; padding: 14px 55px 14px 12px; position: relative; background: rgba(255,0,0,0.04);
    i{ margin-right: 32px;
        svg{ width: 52px; height: 52px;}
    }
    b{ color: #ff3030; text-transform: uppercase; display: block; text-align: left; margin-bottom: 6px;}
    h2{ font-size: 24px; font-weight: 300; margin: 0; color: #ed5e5e; text-transform: uppercase;}
    &--center{ justify-content: center; align-items: center; padding: 14px;}
    &--green{border:2px solid #6ec360; background-color: #f0ffee;
        b,h2{ color: #6ec360;}
    }
    &--yellow{border:2px solid #fda100; background-color: #fff5b2;
        b,h2{ color: #fda100;}
    }
    &--trans{border:2px solid transparent; background-color: transparent;
        b,h2{ color: #4673a4;}
    }
}
.login{ background-image: url(../images/loginbg.jpg); background-size:cover; width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;
    &__content{ width: 612px; box-shadow: 0px 2px 46px 0px rgba(25, 25, 25, 0.33);}
    &__top{ height: 80px; width: 100%; display: flex; justify-content: center; align-items: center; background-color: #4673a4;}
    &__bot{ background-color: #fff; padding:25px 22px 35px;}
    &__row{ display: flex; justify-content: flex-start; align-items: center; margin-bottom: 14px;}
    &__input{ flex-grow: 1;
        input{border:1px solid #cbcfd5; height: 36px; line-height: 36px; width: 100%; padding:0 15px;}
    }
    &__center{ display: flex; margin-top: 23px; flex-direction: column; justify-content: center; align-items: center;
        .button{ margin-bottom: 26px;}
    }
    &__subttl{ width: 168px;}
    b{ text-transform: uppercase;}
    label{ cursor: pointer;}
    &__title{ font-size: 24px; font-weight: 300; color:#3a6ba0; margin-bottom: 23px; text-align: center;}
}
.manifest{
    &__table{ position: relative;
        th{ padding: 11px;}

        p.sclad__ltr{ margin: 0;}
    }
    &__filter{ position: absolute; top: 0; left: 0; width: 100%; text-align: right; pointer-events: none;}
    &__filbtn{border: none; padding: 0; background: transparent; display: inline-block; pointer-events: all;
        span{ width: 37px; height: 36px; background-color: #42b79a; display: flex; justify-content: center; align-items: center;}
        svg{ width: 23px; height: 20px;}
    }
    &__showhide{ display: none; pointer-events: all;}
    &__content{ background-color: #f8f8f8; box-shadow:  0 0px 8px 0px rgba(0, 0, 0, 0.2); width: 100%; text-align: left; display: flex; justify-content: flex-start; align-items: flex-start;    padding: 22px 15px 15px;
        .jq-selectbox__dropdown{ top: 100%;}
    }
    &__row{ display: flex; justify-content: flex-start; align-items: center; margin-bottom: 10px;
        i{ font-style: normal; color: #63656d; font-size: 13px; width: 26px;}
        &--rtl{ justify-content: flex-end;}
        .button--fff span{ background-color: transparent;}
        .button--fff:hover span{ background-color: #42b79a;}
    }
    &__col{ margin-right: 22px; flex-grow: 1;
        &:last-child{ margin-right: 0;}
        b:not(.dotted-underline){ text-transform: uppercase; display: block; margin-bottom: 12px;}
    }
    &__input{ position: relative; margin-right: 10px; width: 154px;
        &--small{ width: 68px;}
        i{ height: 36px; position: absolute; left: 0; top: 0; width: 26px; justify-content: flex-end; align-items: center; display: flex;}
        input{border:1px solid #cbcfd5; height: 36px; line-height: 36px; flex-grow: 1; padding: 0 15px; width:100%;}
        i + input{padding: 0 15px 0 32px;}

    }
}
.paginator{ margin:22px 0;
    ul{ margin: 0; padding: 0; list-style-type: none; display: flex; justify-content: center; align-items: center;}
    li{
        &:first-child,
        &:last-child{
            a{border-width: 2px 2px 0 0; width: 11px; height: 11px; background-color: transparent; transform: rotate(45deg); margin-left: 8px;
                &:hover{background-color: transparent; border-color: #42b79a;}
            }
        }
        &:first-child a{border-width:  0 0 2px 2px; margin-left: 4px; margin-right: 8px;}
    }
    a{ text-decoration: none; display: inline-flex; justify-content: center; align-items: center; border: 1px solid #42b79a; color: #42b79a; font-weight: 700; font-size: 14px; width: 33px; height: 32px; margin: 0 4px; padding-top: 1px;
        &.active,
        &:hover{ color: #fff; background-color: #42b79a;}
    }
}
.preloadfile{ position: absolute; top: 36px; left:50%;   transform:translateX(-50%);
    &__svg{ width: 30px; height: 26px;transform:scaleX(-1);}
    &__circle{stroke-dasharray:73; stroke-dashoffset:0; fill:transparent; animation: dash 2s linear forwards;}
    &__del{ display: block;   position: absolute; top: 6px; left: 8px; cursor: pointer;}
}
.popup{ width: 493px; padding: 0;
    .fancybox-close-small{ display: none;}
    &__bottom{ display: flex; justify-content: flex-end; align-items: center; background-color: #f8f8f8; padding: 0 30px; min-height:76px;
        &--sb{ justify-content: space-between;}
    }
    &__content{ padding: 1px 30px; background-color: #fff;
        &>b{ text-transform: uppercase; display: block; margin-top: 20px;}
    }
    .journal__title{ font-size: 24px;
        &>span{ display: flex; justify-content: flex-start; align-items: center;
            svg{ margin-right: 12px;}
        }
    }
    &__choose-car{ list-style-type: none; padding:7px 0 14px; margin: 0;
        li{ width: 100%;
            &:not(:last-child){ border-bottom: 1px solid #f3f3f3;}
        }
        label{ display: flex; justify-content: flex-start; align-items: center; cursor: pointer; min-height: 50px;}
        b{ text-transform: uppercase; margin-left: 7px; width: 104px;}
        span:not(.styled){ width: 100px;}
        strong{ color: #4673a4; font-style: normal; text-transform: uppercase; font-weight: 400;}
    }
    &__closeday{ list-style-type: none; padding:22px 0 0; margin: 0;
        li{ width: 100%; display: flex; justify-content: space-between; align-items: center; padding-bottom: 12px;  margin-bottom: 15px;
            &:not(:last-child){ border-bottom: 1px solid #f3f3f3;}
            p{ margin: 0; display: flex; justify-content:flex-start; align-items: center; text-transform: uppercase; font-weight: 700;}
            i{ width: 40px;}
        }
    }
    .important{ padding: 0; font-size: 16px;}
}
.regauto{ padding-bottom: 40px;
    &__fxc{ display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; margin: 0 -13px 11px;}
    &__steps{ padding: 19px 0 29px;
        a.button{ margin-right: 26px;}
    }
    &__radio{ width: 416px; margin: 0 13px 14px; flex-grow: 1; cursor: pointer;
        input{ display: none;}
        input:checked + .regauto__item{border:1px solid #4673a4;
            &:before{ opacity: 1;}
        }
    }
    &__img{ width: 74px; display: flex; justify-content: center; align-items: center;}
    &__item{ height: 72px;   border:1px dashed #e7e9ee; position: relative; display: flex; justify-content: flex-start; align-items: center; width: 100%;
        &:before{ content: ''; display: block; width: 100%; height: 100%; border:1px solid #4673a4; left: 0; top: 0; position: absolute; opacity: 0;}
    }
    &__txt{ font-weight: 700; color: #3f424f; text-transform: uppercase;}
    &__tracknum{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 28px;
        p{ width: 292px; margin: 0; flex-shrink: 0;}
        b{ text-transform: uppercase; vertical-align: middle;}
        i{ display: inline-block; line-height: 0; vertical-align: middle; margin-right: 10px;}
        input{border:2px solid #cbcfd5; height: 46px; line-height: 46px; flex-grow: 1; padding: 0 15px;}
    }
    &__row{ display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 10px;  padding-bottom: 10px;
        &--help{ display: flex; justify-content: space-between; align-items: center; flex-grow: 1;}
        b{ text-transform: none; width: 292px; flex-shrink: 0; padding-top: 12px;}
        textarea{ width: 100%;border:1px solid #cbcfd5; padding: 10px 15px; resize: none; flex-grow: 1; height: 108px;}
        input{border:1px solid #cbcfd5; height: 36px; line-height: 36px; flex-grow: 1; padding: 0 15px; width:100%;}
        label{ width: 135px; text-align: right; margin-left: 45px; flex-shrink: 0;}
    }
}
.sclad{ padding-top: 18px;
    &__grow-child{ display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px;
        .search__field{ margin-bottom: 0;}
    }
    &__select{ margin-bottom: 16px;}
    &__ltr{ display: flex; align-items: flex-start; justify-content: flex-start; margin-bottom: 18px;
        &:last-child .total__settings{ margin-bottom: 0;}
    }
    &__rtl{ display: flex; align-items: flex-start; justify-content: flex-end; margin-bottom: 18px;}
    &__center{ display: flex; align-items: flex-start; justify-content: center; margin-bottom: 18px;}
}
.status{ background-color: #a3d07f; color: #fff; text-transform: uppercase; border-radius: 10px; display: inline-flex; min-height: 20px; font-size: 11px; position: relative; min-width: 200px; justify-content: center; align-items: center;
    &--01{ background-color: #a3d07f;svg{ width: 12px;height: 10px;}}
    &--02{ background-color: #dddc81;svg{ width: 11px;height: 13px;}}
    &--03{ background-color: #a8a0c2;svg{ width: 15px;height: 13px;}}
    &--04{ background-color: #ee8889;svg{ width: 10px;height: 10px;}}
    &--05{ background-color: #a8a0c2;svg{ width: 15px;height: 12px;}}
    &--06{ background-color: #9fdedd;svg{ width: 10px;height: 12px;}}
    &--07{ background-color: #9fdedd;svg{ width: 16px;height: 12px;}}
    &--08{ background-color: #86c3d9;svg{ width: 16px;height: 8px;}}
    &--09{ background-color: #86c3d9;svg{ width: 10px;height: 14px;}}
    &--10{ background-color: #d5d2d2;svg{ width: 13px;height: 11px;}}
    &--11{ background-color: #cb7fd0;svg{ width: 19px;height: 15px;}}
    i{ position: absolute; left: 10px; top: 0; width: 20px; height: 100%; display: flex; justify-content: flex-start; align-items: center;}
}
.search{
    &__tumbler{ margin: 0 -1px; display: flex; width: 100%; justify-content: space-between; margin-bottom: 16px;
        label{ margin: 1px; flex-grow: 1; width: 50%; display: block; cursor: pointer;}
        p{ border:1px dashed #e7e9ee; width: 100%; height: 46px; display: flex; justify-content: center; align-items: center; margin: 0;}
        i{line-height: 0; display: inline-block; margin-right: 12px;}
        b{ text-transform: uppercase;}
        input{ display: none;}
        input:checked + p{ border: 1px solid #4673a4; position: relative;
            &:before{ content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; border: 1px solid #4673a4;}
        }
    }
    &__field{ width: 100%; position: relative; margin-bottom: 34px; display: flex; justify-content: flex-start; align-items: flex-start; flex-grow: 1;
        input{border:2px solid #cbcfd5; border-right:0;  height: 46px; width: 100%; padding:0 15px; flex-grow: 1;}
        .button{ white-space: nowrap;
            span{border-width:  2px; height: 46px; }
        }
        &--small{ margin-bottom: 0; margin-left: 22px;
            input{ height: 34px;}
            .button{ white-space: nowrap;
                span{border-width:  2px; height: 34px; }
            }
        }
    }
    &__result{border:1px dashed #e7e9ee; margin-bottom: 23px;
        b{ text-transform: uppercase;}
    }
    &__top{display: flex; align-items: stretch; padding:8px;  }
    &__fsb{border-right:1px solid #e7e9ee; display: flex; justify-content: space-between; align-items: center; flex-grow: 1; padding: 0 13px; height: 46px;
        img{vertical-align: baseline; margin-right: 15px;}
    }
    &__country{ flex-shrink: 0; width: 72px; display: flex; justify-content: center; align-items: center;
        i{ margin-right: 10px;}
    }
    &__bot{ display: flex; justify-content: flex-start; align-items: flex-start;  padding:8px;}
    &__botcell{ display: flex; justify-content: flex-start; align-items: flex-start; width: 30%; padding: 0 13px;
        i{ margin-right: 12px;}
        p{ margin: 0; line-height: 1.2;}
        b{ display: block; margin-top: 4px;}
    }
    &__subttl{ align-items: center; justify-content: space-between;
        p{ display: flex; justify-content: flex-start; align-items: center;}
        svg{ margin-right: 12px;}
        b{ text-transform: uppercase;}
        a{ display: flex; justify-content: flex-start; align-items: center;}
    }
}
.styled{ display: inline-block; margin-right: 8px; vertical-align: middle; cursor: pointer;
    input[type=checkbox]{ display: none;}
    input[type=checkbox] + i{ width: 22px; height: 22px;border:1px solid #cbcfd5; position: relative; display: block; background-color: #fff;
        svg{ position: absolute; top: 5px; left: 5px; opacity: 0; width: 11px; height: 11px;}
    }
    input[type=checkbox]:checked + i{
        svg{ opacity: 1;}
    }
    input[type=radio]{ display: none;}
    input[type=radio] + i{ width: 22px; height: 22px;border:1px solid #cbcfd5; border-radius: 50%; position: relative; display: flex; justify-content: center; align-items: center; background-color: #fff;
        &:before{ content: ''; width: 10px; height: 10px; border-radius: 50%; background-color: #40434e; display: block; opacity: 0;}
    }
    input[type=radio]:checked + i{
        &:before{ opacity: 1;}
    }
}
.tickets{
    &__item{box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.13); margin-bottom: 15px;}
    &__top{ background-color: #4673a4; display: flex; justify-content: space-between; align-items: center;}
    &__title{border-right: 1px solid #fff; color: #fff; flex-grow: 1; display: flex; justify-content: flex-start; align-items: flex-start; padding: 16px 14px; flex-direction: column;
        b{ text-transform: uppercase; margin-bottom: 4px;}
        p{ margin: 0;}
        &:first-child{ width: 47px;flex-shrink: 0; flex-grow: 0; justify-content: center; align-items: center; }
        &:last-child{ border-right: 0; width: 68px; flex-shrink: 0; flex-grow: 0; justify-content: center; align-items: center; }
    }
    &__bottom{ padding:9px 68px 9px 9px; display: flex; justify-content: space-between; align-items: flex-start; width: 100%; position: relative;
        b{ text-transform: uppercase; margin-bottom: 4px;}
        p{ margin: 0;}
    }
    &__quadro{border:1px dashed #e7e9ee; margin-right: 6px; padding: 12px 11px; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column;
        &--full{ flex-grow: 1;}
    }
    &__icons{ width: 68px; display: flex;  align-items: center; position: absolute; right: 0; top: 0; height: 100%; justify-content: space-between; flex-direction: column; padding: 9px;
        .green svg{ fill:rgb(66, 183, 154);}
        .red svg{ fill:rgb(207, 64, 64);}
    }

}
.total{ background-color: #f8f8f8;   padding: 13px 0 11px 30px; position: relative; min-height: 87px;
    &:before{content: ''; background-color: #f8f8f8; width: 100%; height: 100%; position: absolute; top: 0; left: 100%;}
    b{ text-transform: uppercase;}
    &__wrap{display: flex; justify-content: flex-start; align-items: flex-start;}
    &__left{ display: flex; justify-content: space-between; align-items: flex-start;  width: 205px; flex-grow: 1;  border-right:2px solid #fff;
        .total__box p span{ width: 18px;}
        .total__fix{ flex-wrap: wrap;}
    }
    &__fix{ display: flex; justify-content: space-between; align-items: flex-start;}
    &__mid{display: flex; justify-content: space-between; flex-grow: 1; align-items: flex-start;  border-right:2px solid #fff; width: 290px; padding-left: 15px;  }
    &__right{ flex-grow: 1; display: flex; justify-content: space-between; align-items: flex-start; padding-left: 15px; flex-shrink: 0;}
    &__title{ padding-top: 4px; margin-right: 16px;}
    &__box{ display: flex; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap;
        p{ margin: 0 0 5px 6px; display: flex; justify-content: flex-start; align-items: flex-end; height: 20px;
            span{margin: 0 6px 2px 11px; display: inline-block; width: 52px;}
        }
    }
    &__settings{ display: flex; justify-content: center; align-items: center; flex-shrink: 0; margin-bottom: 8px;
        i{ margin-right: 17px; display: inline-block; line-height: 0;}
        b{ text-transform: uppercase;}
    }
    &__strech{ align-items: stretch; display: flex; justify-content: flex-start; flex-direction: column; white-space: nowrap; margin-left: 26px; margin-right: 12px; flex-shrink: 0;}
    &__select{  display: flex; justify-content: center; align-items: center; flex-grow: 1;
        .sclad__select{ width: 100%; margin-bottom: 0;}
        i{ margin-right: 17px;}
    }
    &__items{ flex-shrink: 0;
        p{ margin: 3px 0 11px;}
        b{ margin-right: 10px;}
    }
}
.menu-for-deleting li{ margin: 0;}
.mego-tool-tip{ position: absolute; box-shadow: 0 0px 2px 0px; padding: 3px 6px; background-color: #fff; z-index: 100;}
.no-exist { display: flex; align-items: center; justify-content: center; flex-direction: column; height: calc(100vh - 160px);
    &__text {color: #40434e; font-size: 24px; margin-top: 15px; margin-bottom: 5px;}
    &__logout {background-color: #ffffff; height: auto; padding: 20px 0 30px 0;}
}
[data-title]{ cursor: help;
    &.js-show-additional{ cursor: pointer;}
}
@keyframes dash {
    from { stroke-dashoffset: 0;}
    to {stroke-dashoffset: 73;}
}
#closeday .popup__bottom{ justify-content: center;}
