<aside class="aside">
    <div class="aside__logo">
        <i>
            <svg width="195" height="35">
                <use xlink:href="#logo"></use>
            </svg>
        </i>
    </div>
    <ul class="aside__menu">
        <li>
            <i>
                <svg width="16" height="26">
                    <use xlink:href="#menu01"></use>
                </svg>
            </i>
            <a href="#">прием посылок</a>
        </li>
        <li>
            <i>
                <svg width="26" height="29">
                    <use xlink:href="#menu02"></use>
                </svg>
            </i>
            <a href="#">обработка посылок</a>
        </li>
        <li>
            <i>
                <svg width="16" height="18">
                    <use xlink:href="#menu03"></use>
                </svg>
            </i>
            <a href="#"> списокоплаченных посылок</a>
        </li>
        <li>
            <i>
                <svg width="16" height="20">
                    <use xlink:href="#menu04"></use>
                </svg>
            </i>
            <a href="#"> Создание манифеста</a>
        </li>
        <li>
            <i>
                <svg width="18" height="18">
                    <use xlink:href="#menu05"></use>
                </svg>
            </i>
            <a href="#">редактирование статусов посылок</a>
        </li>
    </ul>
</aside>