<aside class="aside">
    <div class="aside__wrap">
        <a href="/" class="aside__logo">
            <i>
                <svg width="195" height="35">
                    <use xlink:href="#logo"></use>
                </svg>
            </i>
        </a>
        <form class="aside__search" action="">
            <input type="text" placeholder="Найти посылку" required="required">
            <button type="submit">
                <i>
                    <svg width="17px" height="17px">
                        <use xlink:href="#aside-search"></use>
                    </svg>
                </i>
            </button>
        </form>
        <ul class="aside__menu">
            <li>
                <i>
                    <svg width="16" height="26">
                        <use xlink:href="#menu01"></use>
                    </svg>
                </i>
                <a href="#">прием посылок</a>
            </li>
            <li>
                <i>
                    <svg width="26" height="29">
                        <use xlink:href="#menu02"></use>
                    </svg>
                </i>
                <a href="#">обработка посылок</a>
            </li>
            <li>
                <i>
                    <svg width="16" height="18">
                        <use xlink:href="#menu03"></use>
                    </svg>
                </i>
                <a href="#"> список оплаченных посылок</a>
            </li>
            <li>
                <i>
                    <svg width="16" height="20">
                        <use xlink:href="#menu04"></use>
                    </svg>
                </i>
                <a href="#"> Создание манифеста</a>
            </li>
            <li>
                <i>
                    <svg width="18" height="18">
                        <use xlink:href="#menu05"></use>
                    </svg>
                </i>
                <a href="#">редактирование статусов посылок</a>
            </li>
            <li>
                <i>
                    <svg width="17" height="17">
                        <use xlink:href="#menu06"></use>
                    </svg>
                </i>
                <a href="#">Ожидают опознания</a>
            </li>
            <li>
                <i>
                    <svg width="26" height="29">
                        <use xlink:href="#menu07"></use>
                    </svg>
                </i>
                <a href="#">Обработка потерянных посылок</a>
            </li>
            <li>
                <i>
                    <svg width="19" height="20">
                        <use xlink:href="#menu08"></use>
                    </svg>
                </i>
                <a href="#">Список трансфера</a>
            </li>
            <li>
                <ul class="menu-for-deleting">
                    <hr>
                    <li><a href="/">главная</a></li>
                    <li><a href="demo.html">demo</a></li>
                    <li><a href="day-list.html">список дней</a></li>
                    <li><a href="day-inner.html">внутряк дней</a></li>
                    <li><a href="regauto.html">handbag create</a></li>
                    <li><a href="page5.html">sklad page 5</a></li>
                    <li><a href="page6.html">sklad page 6</a></li>
                    <li><a href="page7.html">sklad page 7</a></li>
                    <li><a href="page8.html">sklad page 8</a></li>
                    <li><a href="page9.html">sklad page 9</a></li>
                    <li><a href="important.html">alerts</a></li>
                    <li><a href="transfer.html">transfer</a></li>
                    <li><a href="transfer2.html">transfer2</a></li>
                    <li><a href="edit.html">edit</a></li>
                    <li><a href="edit2.html">edit2</a></li>
                    <li><a href="edit3.html">edit3</a></li>
                    <li><a href="lost.html">lost</a></li>
                    <li><a href="lost2.html">lost2</a></li>
                    <li><a href="lost3.html">lost3</a></li>
                    <li><a href="lost4.html">lost4</a></li>
                    <li><a href="lost5.html">lost5</a></li>
                    <li><a href="lost6.html">lost6</a></li>
                    <li><a href="lost7.html">lost7</a></li>
                    <li><a href="lost8.html">lost8</a></li>
                    <li><a href="pakage-search.html">pakage-search</a></li>
                    <li><a href="pakage-info.html">pakage-info</a></li>
                    <li><a href="manifest.html">manifest</a></li>
                    <li><a href="manifest-create.html">Создание манифеста</a></li>
                    <li><a href="tickets.html">tickets</a></li>
                    <li><a href="scan.html">Сканировать</a></li>
                    <li><a href="login.html">страница входа</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="404-logout.html">404 logout</a></li>
                    <li><a href="500.html">500</a></li>
                    <li><a href="500-logout.html">500 logout</a></li>
                    <li><a href="503.html">503</a></li>
                    <li><a href="503-logout.html">503 logout</a></li>
                    <hr>
                    <li><a data-fancybox data-src="#ordernew" href="javascript:;">Попап посылки new</a></li>
                    <li><a data-fancybox data-src="#ordernew2" href="javascript:;">Попап посылки new2</a></li>
                    <li><a data-fancybox data-src="#order" href="javascript:;">Попап посылки</a></li>
                    <li><a data-fancybox data-src="#order2" href="javascript:;">Попап посылки шаг2</a></li>
                    <li><a data-fancybox data-src="#journal" href="javascript:;">Попап Журнала</a></li>
                    <li><a data-fancybox data-src="#choose-car" href="javascript:;">Выбор авто</a></li>
                    <li><a data-fancybox data-src="#change-carrr" href="javascript:;">Замена машины</a></li>
                    <li><a data-fancybox data-src="#change-carrr2" href="javascript:;">Замена машины 2</a></li>
                    <li><a data-fancybox data-src="#change-carrr3" href="javascript:;">Замена машины 3</a></li>
                    <li><a data-fancybox data-src="#choose-car-check" href="javascript:;">Выбор авто checkbox</a></li>
                    <li><a data-fancybox data-src="#closeday" href="javascript:;">Закрытие дня</a></li>
                    <li><a data-fancybox data-src="#manifest" href="javascript:;">Файл успешно импортирован</a></li>
                    <li><a data-fancybox data-src="#poppop" href="javascript:;">попап для сашка</a></li>
                </ul>
            </li>
        </ul>

    </div>
</aside>