<div class="total">
    <div class="total__wrap">
        <div class="total__left">
            <div class="total__title"><b>Сегодня:</b></div>
            <div class="total__fix">
                <div class="total__box">
                    <p data-title="тестовий тултипс">
                        <i>
                            <svg width="15" height="19">
                                <use xlink:href="#icon-incar"></use>
                            </svg>
                        </i>
                        <span>2</span>
                    </p>

                    <p data-title="тестовий тултипс">
                        <i>
                            <svg width="13" height="21">
                                <use xlink:href="#icon-inbox"></use>
                            </svg>
                        </i>
                        <span>4</span>
                    </p>
                </div>
                <div class="total__box">

                    <p data-title="тестовий тултипс">
                        <i>
                            <svg width="14" height="13">
                                <use xlink:href="#icon-crybox"></use>
                            </svg>
                        </i>
                        <span>3</span>
                    </p>

                </div>
            </div>

        </div>
        <div class="total__mid">
            <div class="total__title"><b>Всего:</b></div>
            <div class="total__fix">
                <div class="total__box">
                    <p data-title="тестовий тултипс">
                        <i>
                            <svg width="13" height="21">
                                <use xlink:href="#icon-inbox"></use>
                            </svg>
                        </i>
                        <span>3</span>
                    </p>
                    <p data-title="тестовий тултипс">
                        <i>
                            <svg width="14" height="20">
                                <use xlink:href="#icon-checkbox"></use>
                            </svg>
                        </i>
                        <span>999 999</span>
                    </p>


                </div>
                <div class="total__box">
                    <p data-title="тестовий тултипс">
                        <i>
                            <svg width="14" height="13">
                                <use xlink:href="#icon-crybox"></use>
                            </svg>
                        </i>
                        <span>999 999</span>
                    </p>
                    <p data-title="тестовий тултипс">
                        <i>
                            <svg width="13" height="23">
                                <use xlink:href="#icon-delbox"></use>
                            </svg>
                        </i>
                        <span>999 999</span>
                    </p>

                </div>
            </div>

        </div>
        <div class="total__right">
            <div class="total__items">
                <p data-title="тестовий тултипс"><b>b2b:</b><span>999 999 999</span></p>
                <p data-title="тестовий тултипс"><b>b2c:</b><span>35</span></p>
            </div>
            <div class="total__strech">
                <a class="total__settings">
                    <i>
                        <svg width="19"  height="19">
                            <use xlink:href="#icon-settings"></use>
                        </svg>
                    </i>
                    <b class="dotted-underline"  data-title="тестовий тултипс тестовий тултипс тестовий тултипс">Константин малонемножский</b>
                </a>
                <div class="total__select">
                    <i>
                        <svg width="20"  height="17">
                            <use xlink:href="#icon-sclad"></use>
                        </svg>
                    </i>
                    <div class="sclad__select">
                        <select class="js-styled">
                            <option value="1">ShoppEx</option>
                            <option value="1">ShoppDpD</option>
                            <option value="1">ShoppNP</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>